[mysqld]

init-connect = 'SET NAMES utf8'
character-set-server = utf8

server-id = 1
log-bin = mysql-bin
max_binlog_size = 1024M
log-slave-updates = true
replicate-ignore-db = mysql
replicate-ignore-db = information_schema
replicate-ignore-db = performance_schema
skip-character-set-client-handshake

sync-master-info = 1
slave-parallel-workers = 0
sync_binlog = 0
binlog-checksum = CRC32
master-verify-checksum = 1
slave-sql-verify-checksum = 1
binlog-rows-query-log_events = 1

max_connections	= 5000
max_connect_errors = 50
wait_timeout = 6000
interactive_timeout = 6000

# utf8mb4
character-set-client-handshake = FALSE  
character-set-server = utf8mb4  
collation-server = utf8mb4_unicode_ci 

# 金哥配置
sql_mode = 'STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
default_authentication_plugin = mysql_native_password
log_bin_trust_function_creators = 1

# 记录慢查询
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/mysql-slow.log
long_query_time = 15

event_scheduler = 1

default-time-zone = '+8:00'